{% for item in items %}
	{% if loop.index > 2 %}
		{% set lazy = "lazy"%}
	{% else %}
		{% set lazy = '' %}
	{% endif %}
	
	
	<div class="listing__item" data-pansion-slug="{{item.pansion_slug}}" data-pansion-id="{{item.id}}" data-pansion-name="{{item.pansion_name}}" data-pansion-address="{{item.pansion_address}}" data-pansion-mapDotX="{{item.pansion_latitude}}" data-pansion-mapDotY="{{item.pansion_longitude}}">
	{# {% if other_pensions %}<a href="/Каталог/{{item.pansion_slug}}/">{% endif %} #}
		<div class="listing__item-images">
			<div class="swiper listing__images-slider">
				<div class="swiper-wrapper">
				{% for image in item.pansion_images %}
					<div class="swiper-slide listing__images-slide">
						<img src="{{image.path_thumb}}" loading="{{lazy}}"/>
					</div>
				{% endfor %}
				</div>
				<div class="listing__item-images-slider-next">
					<img src="/image/icons/slider_arrow.svg" alt="">
				</div>
				<div class="listing__item-images-slider-prev">
					<img src="/image/icons/slider_arrow.svg" alt="">
				</div>
			</div>
			<div class="swiper listing__images-thumb">
				<div class="swiper-wrapper">
					{% for image in item.pansion_images %}
						<div class="swiper-slide listing__images-thumb-slide">
							<img src="{{image.path_catalog}}" loading="{{lazy}}"/>
						</div>
					{% endfor %}
				</div>
				{% if item.pansion_images|length > 3 %}
					<div class="listing__images-count">
						<img src="/image/icons/camera.svg" alt="">
						<span>{{item.pansion_images|length}} фото</span>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="listing__item-info">
			<a href="/Каталог/{{item.pansion_slug}}/" class="listing__item-info-title">
				{{item.pansion_name}}
			</a>
			{% if item.pansion_address %}
				{% if other_pensions %}
					<a href="/Каталог/{{item.pansion_slug}}/" class="listing__item-info-address">
						<span>{{item.pansion_address}}</span>
					</a>
				{% else %}
					<div class="listing__item-info-address" data-address>
						<span>{{item.pansion_address}}</span>
					</div>
				{% endif %}
			{% endif %}
			{% if item.pansion_checked or item.pansion_rev_ya.id or item.pansion_reviews_local.rate %}
				<div class="listing__item-info-review">
					{% if item.pansion_checked %}
						<img src="/image/icons/verified.svg" alt="" class="listing__item-info-verified">
					{% endif %}
					{% if item.pansion_rev_ya.id %}
						<div class="rate">
							<div class="stars">
								<div class="stars__empty"></div>
								<div class="stars__fill" style="width:calc({{item.pansion_rev_ya.rate}} * 20%)"></div>
							</div>
							<p class="rate__count">{{item.pansion_rev_ya.rate}}</p>
							<p class="rate__reviews">(<a href="/Каталог/{{item.pansion_slug}}#reviews">{{item.pansion_rev_ya.count}}</a>)</p>
						</div>
					{% elseif item.pansion_reviews_local.rate and item.pansion_rev_ya.id == '' %}
						<div class="rate">
							<div class="stars">
								<div class="stars__empty"></div>
								<div class="stars__fill" style="width:calc({{item.pansion_reviews_local.rate}} * 20%)"></div>
							</div>
							<p class="rate__count">{{item.pansion_reviews_local.rate}}</p>
							<p class="rate__reviews">(<a href="/Каталог/{{item.pansion_slug}}#reviews">{{item.pansion_reviews_local.count}}</a>)</p>
						</div>
					{% endif %}
				</div>
			{% endif %}
			<div class="listing__item-info-price">от <span>{{item.pansion_price}} ₽</span> за сутки</div>
			<div class="listing__item-info-btns">
				<a href="/Каталог/{{item.pansion_slug}}/" class="listing__item-info-btn-more _btn-transparent">Подробнее</a>
				<div class="listing__item-info-btn-check _btn" data-check>
					<span>Уточнить наличие мест</span>
					<span class="_mobile">Наличие мест</span>
				</div>
			</div>
			{% if item.pansion_conditions %}
				<div class="listing__item-info-benefits">
					{% for condition in item.pansion_conditions %}
						{% if condition.name == "С деменцией" %}
							<div class="listing__item-info-benefits-item" data-title="Реабилитация для пожилых с деменцией">
								<img src="/image/icons/benefits/dementia.svg" alt="{{condition.name}}">
							</div>
						{% elseif condition.name == "После инсульта" %}
							<div class="listing__item-info-benefits-item" data-title="Реабилитация для больных после инсульта">
								<img src="/image/icons/benefits/stroke.svg" alt="{{condition.name}}">
							</div>
						{% elseif condition.name == "С альцгеймером" %}
							<div class="listing__item-info-benefits-item" data-title="Реабилитация для пожилых с Альцгеймером">
								<img src="/image/icons/benefits/alzheimer.svg" alt="{{condition.name}}">
							</div>
						{% elseif condition.name == "Онкология" %}
							<div class="listing__item-info-benefits-item" data-title="Специальные условия для онкологических больных">
								<img src="/image/icons/benefits/oncology.svg" alt="{{condition.name}}">
							</div>
						{% elseif condition.name == "Забота о пожилых с Паркинсоном" %}
							<div class="listing__item-info-benefits-item" data-title="Реабилитация для пациентов с болезнью Паркинсона">
								<img src="/image/icons/benefits/parkinson.svg" alt="{{condition.name}}">
							</div>
						{% elseif condition.name == "Перелом шейки бедра" %}
							<div class="listing__item-info-benefits-item" data-title="Реабилитация после перелома шейки бедра">
								<img src="/image/icons/benefits/broken_bone.svg" alt="{{condition.name}}">
							</div>
						{% endif %}
					{% endfor %}

					{% for type in item.pansion_type %}
						{% if type.name == "Государственные" %}
							<div class="listing__item-info-benefits-item" data-title="Государственное учреждение" data-title="Частное учреждение">
								<img src="/image/icons/benefits/government.svg" alt="{{type.name}}">
							</div>
						{% elseif type.name == "Частные" %}
							<div class="listing__item-info-benefits-item" data-title="Частное учреждение">
								<img src="/image/icons/benefits/private.svg" alt="{{type.name}}">
							</div>
						{% endif %}
					{% endfor %}
					{% for convenience in item.pansion_conveniencies %}
						{% if convenience.name == "Круглосуточное курирование постояльцев. За каждым пожилым закрепляется ночная и дневная сиделка." %}
							<div class="listing__item-info-benefits-item" data-title="Уход за больными 24/7">
								<img src="/image/icons/benefits/24_7.svg" alt="{{convenience.name}}">
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
		{# {% if other_pensions %}</a>{% endif %} #}
	</div>
	{# {% if other_pensions %}</a>{% endif %} #}

	{% if loop.index == 6 and page == 'listing' %}
		{{ this.render('//components/generic/form_choose.twig', {'cities':cities, 'diseasies':diseasies}) | raw }}
	{% endif %}
{% endfor %}
{% if items|length < 6 and page == 'listing' %}
	{{ this.render('//components/generic/form_choose.twig', {'cities':cities, 'diseasies':diseasies}) | raw }}
{% endif %}

{# {{ this.render('//components/generic/form_booking.twig') | raw }} #}