<div data-page-type="item">
	<div class="container">
		<div class="breadcrumbs">
			<div class="breadcrumbs_item">
				<a href="/">
					<span><img src="/image/icons/breadcrump_home.svg" alt=""></span>
				</a>
			</div>
			{% if slice_main_type %}
				<div class="breadcrumbs_item">
					<a href="/{{slice_main_type.url}}/">
						<span>{{slice_main_type.name}}</span>
					</a>
				</div>
			{% endif %}
		</div>

		<div class="item">
			<div class="item__container">

				<div class="item__gallery">
					<div class="item__gallery-img item__gallery-img_main" data-index="1">
						<img src="{{item.pansion_images[0].path}}" />
					</div>
					{% if item.pansion_images|length == 2 %}
						<div class="item__gallery-images">
							<div class="item__gallery-img" data-index="2">
								<img src="{{item.pansion_images[1].path}}" />
							</div>
						</div>
					{% elseif item.pansion_images|length > 2 %}
						<div class="item__gallery-images">
							<div class="item__gallery-img" data-index="2">
								<img src="{{item.pansion_images[1].path}}" />
							</div>
							<div class="item__gallery-img" data-index="3">
								<img src="{{item.pansion_images[2].path}}" />
							</div>
						</div>
					{% endif %}
					{% if item.pansion_images|length > 3 %}
						<div class="item__slider-count">
							<img src="/image/icons/camera.svg" alt="">
							<span>{{item.pansion_images|length}} фото</span>
						</div>
					{% endif %}
				</div>

				<div class="item__slider-wrap">
					<div class="item__slider-innerwrap">
						<div class="swiper item__slider">
							<div class="swiper-wrapper">
							{% for image in item.pansion_images %}
								<div class="swiper-slide item__slider-slide" data-index="{{loop.index0}}">
									<img src="{{image.path}}" />
								</div>
							{% endfor %}
							</div>
							<div class="item__slider-next">
								<img src="/image/icons/slider_arrow.svg" alt="">
							</div>
							<div class="item__slider-prev">
								<img src="/image/icons/slider_arrow.svg" alt="">
							</div>
						</div>
						<div class="item__slider-pagination swiper-pagination"></div>

						<div class="swiper item__slider-thumb">
							<div class="swiper-wrapper">
								{% for image in item.pansion_images %}
									<div class="swiper-slide item__slider-thumb-slide">
										<img src="{{image.path}}" />
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>

				<div class="item__menu">
					<div class="item__menu-list">
						<div class="item__menu-item">
							<a href="#description">Описание</a>
						</div>
						<div class="item__menu-item">
							<a href="#conditions">Удобства</a>
						</div>
						<div class="item__menu-item">
							<a href="#schedule">Распорядок дня</a>
						</div>
						<div class="item__menu-item">
							<a href="#docs">Необходимые документы</a>
						</div>
						<div class="item__menu-item">
							<a href="#faq">Ответы на вопросы</a>
						</div>
					</div>
				</div>

				{% if item.pansion_description or item.pansion_video.link is not empty %}
					<div class="item__description" id="description">
						{{item.pansion_description|raw}}
						{# <h2 class="item__description-title">Описание</h2>
						<p class="item__description-text">
							Располагающийся на западе Рузский район, помимо различных социальных объектов инфраструктуры,
							служит территорией для большого числа пансионатов для пожилых людей. Пансионаты для пожилых
							Рузского района привлекательны для жителей западных областей Москвы и области, а также для
							других частей мегаполиса. Транспортная доступность, чистота и экология Рузского района служат
							причинами для размещения пожилых людей в местных пансионатах. Основной достопримечательностью
							Рузского района является река Руза с ее немногочисленными притоками.
						</p>
						<p class="item__description-text">
							Пансионаты для пожилых, расположенные в Рузском районе, оказывают пациентам полный комплекс
							услуг по оздоровлению, проживанию, реабилитации и общей терапии. Дома престарелых Рузского
							района приспособлены и имеют всю необходимую оснастку для размещения лежачих пациентов и пожилых
							людей со сложными формами патологий, в том числе с психическими отклонениями. Персонал таких
							учреждений имеет высокую квалификацию и богатый опыт в уходе за пожилыми людьми. Спектр
							предоставляемых услуг включает в себя:
						</p> #}
						{% if item.pansion_video.link is not empty %}
							<div class="item__description-video-wrap">
								<div class="item__description-video video__wrap">
									{# <img src="/image/video/01.jpg" alt=""> #}
									<div id="{{item.pansion_video.link}}" class="video__player"></div>
									<div class="item__description-video-btn video__btn"></div>
								</div>
								{# <p class="item__description-video-title">
									Как выбрать лучший пансионат?
								</p> #}
								<p class="item__description-video-title">
									{{item.pansion_video.title}}
								</p>
							</div>
						{% endif %}
					</div>
				{% endif %}

				{% if item.pansion_licenses is not empty %}
					<div class="item__licence">
						<h3 class="item__licence-title">Лицензии</h3>
						<div class="swiper item__licence-slider">
							<div class="swiper-wrapper">
							{% for license in item.pansion_licenses %}
								<div class="swiper-slide item__licence-slider-slide">
									<img src="{{license}}" />
								</div>
							{% endfor %}
								{# <div class="swiper-slide item__licence-slider-slide">
									<img src="/image/licence/02.jpg" />
								</div>
								<div class="swiper-slide item__licence-slider-slide">
									<img src="/image/licence/03.jpg" />
								</div>
								<div class="swiper-slide item__licence-slider-slide">
									<img src="/image/licence/04.jpg" />
								</div>
								<div class="swiper-slide item__licence-slider-slide">
									<img src="/image/licence/02.jpg" />
								</div> #}
							</div>
						</div>
						<div class="item__licence-slider-next">
							<img src="/image/icons/slider_arrow_blue.svg" alt="">
						</div>
						<div class="item__licence-slider-prev">
							<img src="/image/icons/slider_arrow_blue.svg" alt="">
						</div>
						<div class="item__licence-slider-pagination swiper-pagination"></div>
					</div>
				{% endif %}

				<div class="item__conditions" id="conditions">
					<h2 class="item__conditions-title">Удобства</h2>
					<div class="item__conditions-list">

						{% if item.pansion_rooms or item.pansion_meal %}
							<div class="item__conditions-col">
								<div class="item__conditions-icon">
									<img src="/image/icons/conditions/room.svg" alt="">
								</div>
								<div class="item__conditions-info">
									<p class="item__conditions-subtitle">Условия проживания</p>
									<ul>
										{% if item.pansion_rooms %}
											<li>Мест в номере 
											{% for room in item.pansion_rooms %}
												{% if loop.length > 1 %}
													{% if loop.first %}{{room.size}} -{% elseif loop.last %}{{room.size}}{% endif %}
												{% else %}
													{{room.size}}
												{% endif %}
											{% endfor %}</li>
										{% endif %}
										{% if item.pansion_meal %}
											<li>{{item.pansion_meal[0].name}} разовое питание</li>
										{% endif %}
									</ul>
								</div>
							</div>
						{% endif %}

						{% if territory %}
							<div class="item__conditions-col">
								<div class="item__conditions-icon">
									<img src="/image/icons/conditions/territory.svg" alt="">
								</div>
								<div class="item__conditions-info">
									<p class="item__conditions-subtitle">Территория проживания</p>
									<ul>
										{% for value in territory %}
											<li>{{value}}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}

						{% if item.pansion_entertainments or leisure %}
							<div class="item__conditions-col">
								<div class="item__conditions-icon">
									<img src="/image/icons/conditions/leisure.svg" alt="">
								</div>
								<div class="item__conditions-info">
									<p class="item__conditions-subtitle">Досуг</p>
									<ul>
										{% if item.pansion_entertainments %}
											{% for entertainment in item.pansion_entertainments %}
												<li>{{entertainment.name}}</li>
											{% endfor %}
										{% endif %}
										{% if leisure %}
											{% for value in leisure %}
												<li>{{value}}</li>
											{% endfor %}
										{% endif %}
									</ul>
								</div>
							</div>
						{% endif %}

						{% if service_staff %}
							<div class="item__conditions-col">
								<div class="item__conditions-icon">
									<img src="/image/icons/conditions/nurse.svg" alt="">
								</div>
								<div class="item__conditions-info">
									<p class="item__conditions-subtitle">Обслуживающий персонал</p>
									<ul>
										{% for value in service_staff %}
											<li>{{value}}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}

						{% if item.pansion_conditions %}
							<div class="item__conditions-col">
								<div class="item__conditions-icon">
									<img src="/image/icons/conditions/patient.svg" alt="">
								</div>
								<div class="item__conditions-info">
									<p class="item__conditions-subtitle">Состояние пациентов</p>
									<ul>
										{% for condition in item.pansion_conditions %}
											<li>{{condition.name}}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}

						{% if extra_facilities %}
							<div class="item__conditions-col">
								<div class="item__conditions-icon">
									<img src="/image/icons/conditions/add_service.svg" alt="">
								</div>
								<div class="item__conditions-info">
									<p class="item__conditions-subtitle">Дополнительные удобства</p>
									<ul>
										{% for value in extra_facilities %}
											<li>{{value}}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}

					</div>
				</div>

				<div class="item__location">
					<h2 class="item__location-title">Расположение</h2>
					{% if item.pansion_address %}
						<div class="item__location-subtitle">Адрес</div>
						<div class="item__location-address">
							{{item.pansion_address}}
						</div>
					{% endif %}
					<div class="map item__location-map">
						<div id="map" data-pansion-id="{{item.id}}" data-mapDotX="{{item.pansion_latitude}}" data-mapDotY="{{item.pansion_longitude}}" data-name="{{item.pansion_name}}" data-address="{{item.pansion_address}}" data-balloon="" data-hint="">
						</div>
					</div>
					{# <div class="item__location-subtitle">Как добраться</div>
					<div class="item__location-label">На автомобиле</div>
					<div class="item__location-text">От МКАД 7,1 км по Ярославскому шоссе</div>
					<div class="item__location-label">На метро</div>
					<div class="item__location-text">
						От Ярославского вокзала до ж/д станции «Мытищи», далее 10 минут пешком
					</div>
					<div class="item__location-label">На автобусе</div>
					<div class="item__location-text">
						От м. «Медведково» пройти до автобусной остановки «Метро Медведково», автобус № 419 до остановки
						«Театр Огниво», далее 15 минут пешком
					</div> #}
					{% if item.pansion_cities %}
						<div class="item__location-near-cities">
							<div class="item__location-subtitle">Пансионат расположен рядом с городами:</div>
							<div class="item__location-near-cities-list">
								{% for city in slice_cities %}
									<a href="/{{city.url}}/" class="item__location-near-cities-item">{{city.name}}</a>
								{% endfor %}
								{# {% for city in item.pansion_cities %}
									<div class="item__location-near-cities-item">{{city.name}}</div>
								{% endfor %} #}
							</div>
						</div>
					{% endif %}
				</div>

				<div id="reviews" class="item__review">
					{% if reviews %}
						<div class="item__review-our">
							<h2 class="item__review-title">
								Отзывы наших<br> посетителей
							</h2>

							<div class="item__review-slider swiper">
								<div class="swiper-wrapper">
									{% for review in reviews %}
										<div class="item__review-slide swiper-slide">
											<div class="item__review-rate">
												<div class="stars">
													<div class="stars__empty"></div>
													<div class="stars__fill" style="width:calc({{review.rating}} * 20%)"></div>
												</div>
											</div>
											<div class="reviews__slider-text">
												<p>{{review.text}}</p>
												<div class="reviews__slider-text-more" data-review-text-more>
													Читать полностью
												</div>
											</div>
											<p class="reviews__slider-author">{{review.author}}</p>
											<p class="reviews__slider-date">{{review.date}}</p>
										</div>
									{% endfor %}
								</div>
							</div>
							{% if reviews|length > 1 %}
								<div class="item__review-slider-next"><img src="/image/icons/slider_arrow_blue.svg" alt=""></div>
								<div class="item__review-slider-prev"><img src="/image/icons/slider_arrow_blue.svg" alt=""></div>
							{% endif %}
							<div class="item__review-slider-pagination swiper-pagination"></div>

						</div>
					{% endif %}
					{% if item.pansion_rev_ya.id and item.pansion_rev_ya.active %}
						<div class="item__review-yandex">
							<h2 class="item__review-title">
								Отзывы<br> с Яндекс.Карт
							</h2>
							<div style="width:auto;height:500px;overflow:hidden;position:relative;">
								<iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/{{item.pansion_rev_ya.id}}?comments"></iframe>
								<a href="https://yandex.ru/maps/org/pansionat_sm_pension/{{item.pansion_rev_ya.id}}" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">{{item.pansion_name}} — Яндекс Карты</a>
							</div>
						</div>
					{% endif %}
				</div>

				{{ this.render('//components/generic/form_item_opinion.twig', {'item': item}) | raw }}

				{% if item.pansion_documents %}
					<div class="item__docs" id="docs">
						{{item.pansion_documents|raw}}
						{# <h2 class="item__docs-title">Необходимые документы</h2>
						<ol class="item__docs-list">
							<li>Паспорт</li>
							<li>Полис</li>
							<li>СНИЛС</li>
							<li>Выписка (при наличии)</li>
						</ol> #}
					</div>
				{% endif %}

				{% if item.pansion_schedule %}
					<div class="item__schedule" id="schedule">
						{{item.pansion_schedule|raw}}
						{# <h2 class="item__schedule-title">Распорядок дня</h2>
						<div class="item__schedule-list">
							<div class="item__schedule-item">
								<div class="item__schedule-time">8:00</div>
								<div class="item__schedule-text">Подъем</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">8:00–8:30</div>
								<div class="item__schedule-text">Утренний туалет</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">8:30–9:00</div>
								<div class="item__schedule-text">
									Измерение температуры тела, давления, пульса и другие сестринские манипуляции
								</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">9:00–9:30</div>
								<div class="item__schedule-text">Завтрак</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">9:30–10:00</div>
								<div class="item__schedule-text">Замер температуры, давления</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">10:00–11:00</div>
								<div class="item__schedule-text">Занятия по интересам</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">11:00–11:30</div>
								<div class="item__schedule-text">Второй завтрак (фрукты по сезону)</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">11:30–13:00</div>
								<div class="item__schedule-text">
									Выполнение врачебных назначений, гимнастика. Культурно-массовые мероприятия,
									организованный досуг
								</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">13:00–13:30</div>
								<div class="item__schedule-text">Обед</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">13:30–14:00</div>
								<div class="item__schedule-text">
									Раздача лекарственных средств, контроль приема и другие сестринские манипуляции
								</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">14:00–16:00</div>
								<div class="item__schedule-text">Послеобеденный сон</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">16:30–19:00</div>
								<div class="item__schedule-text">Свободное время, прогулка, занятия по интересам</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">19:00–19:30</div>
								<div class="item__schedule-text">Ужин</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">19:30–20:00</div>
								<div class="item__schedule-text">
									Раздача лекарственных средств, контроль их приема. Выполнение врачебных назначений.
									Измерение давления/температуры
								</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">20:00–20:45</div>
								<div class="item__schedule-text">Организованный досуг</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">20:45–21:30</div>
								<div class="item__schedule-text">Вечерний туалет, подготовка ко сну, сон</div>
							</div>
							<div class="item__schedule-item">
								<div class="item__schedule-time">21:30</div>
								<div class="item__schedule-text">Сон</div>
							</div>
						</div> #}
					</div>
				{% endif %}

				{% if item.pansion_conditions %}
					<div class="item__special">
						<h2 class="item__special-title">Особенности места</h2>
						<div class="item__special-list">
							{% for slice in slice_specials %}
								<a href="/{{slice.url}}/" class="item__special-item">
									{{slice.name}}
								</a>
							{% endfor %}
							{# {% for condition in item.pansion_conditions %}
								<div class="item__special-item">
									{{condition.name}}
								</div>
							{% endfor %}
							{% if item.pansion_price > 999 %}
								<div class="item__special-item">Дорогие (от 1000 ₽)</div>
							{% else %}
								<div class="item__special-item">Недорогие (до 1000 ₽)</div>
							{% endif %}
							{% if item.pansion_type %}
								<div class="item__special-item">{{ item.pansion_type[0].name }}</div>
							{% endif %} #}
						</div>
					</div>
				{% endif %}

				{{ this.render('//components/generic/form_item_calc.twig') | raw }}

				<div class="item__other-items">
					<h2 class="item__other-items-title">Также выбирают</h2>

					<div class="listing">
						{{ this.render('//components/generic/listing.twig', {'items':other_pansions, 'other_pensions':true}) | raw }}
					</div>

				</div>

				<div class="item__faq seo" id="faq">
					<h2 class="item__faq-title">Частые вопросы</h2>

					<div class="faq__accordion">
						{% for question in faq %}
							<div class="faq__accordion-item">
								<div class="faq__accordion-item-title">
									{{question.title}}
								</div>
								<div class="faq__accordion-item-text">
									{{question.text|raw}}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

			</div>

			<div class="item__info" data-da="item__container,2,1024">
				<div class="item__info-wrap">
					<div class="item__info-title">{{item.pansion_name}}</div>
					{% if item.pansion_address %}
						<div class="item__info-address" data-address>
							<span>{{item.pansion_address}}</span>
						</div>
					{% endif %}
					{% if item.pansion_rev_ya.id %}
						<div class="item__info-review">
							<div class="rate">
								<div class="stars">
									<div class="stars__empty"></div>
									<div class="stars__fill" style="width:calc({{item.pansion_rev_ya.rate}} * 20%)"></div>
								</div>
								<p class="rate__count">{{item.pansion_rev_ya.rate}}</p>
								<p class="rate__reviews">(<a href="#reviews">{{item.pansion_rev_ya.count}}</a>)</p>
							</div>
						</div>
					{% elseif item.pansion_reviews_local.rate and item.pansion_rev_ya.id == '' %}
						<div class="item__info-review">
							<div class="rate">
								<div class="stars">
									<div class="stars__empty"></div>
									<div class="stars__fill" style="width:calc({{item.pansion_reviews_local.rate}} * 20%)"></div>
								</div>
								<p class="rate__count">{{item.pansion_reviews_local.rate}}</p>
								<p class="rate__reviews">(<a href="#reviews">{{item.pansion_reviews_local.count}}</a>)</p>
							</div>
						</div>
					{% endif %}
					{# {% if item.pansion_network %}
						<div class="item__info-net">Сеть: <span>{{item.pansion_network[0].name}}</span></div>
					{% endif %} #}
					{% if slice_network %}
						<div class="item__info-net">Сеть: <a href="/{{slice_network.url}}">{{slice_network.name}}</a></div>
					{% endif %}
					<a href="tel:84999386439" class="item__info-phone">+7 (499) 938 64 39</a>
					<div class="item__info-phone-text">Бесплатная круглосуточная консультация</div>
				</div>

				<div class="item__info-bot">
					<div class="item__info-bot-price">
						от <span>{{item.pansion_price}} ₽</span> за сутки
						<div class="item__info-bot-tooltip">
							<span>?</span>
							<div class="item__info-bot-tooltip-text">
								<p>
									Минимальная стоимость указана для людей, не требующих помощи в гигиеническом уходе.
								</p>
								<p>Нажмите <a href="#" data-calc>здесь</a>, чтобы получить точный расчет</p>
							</div>
						</div>
					</div>
					<div class="item__info-bot-btns">
						<div class="item__info-bot-order _btn" data-book>Забронировать</div>
						<div class="item__info-bot-callback _btn-transparent" data-callback-item>Заказать звонок</div>
					</div>
				</div>

				{{ this.render('//components/generic/form_item_booking.twig', {'subtitle':item.pansion_name}) | raw }}

				{{ this.render('//components/generic/form_item_callback.twig', {'title':'Бесплатная консультация', 'data_type':'item-callback'}) | raw }}

			</div>

		</div>

	</div>
</div>